# static wifi address
network:
    version: 2
    renderer: networkd
    ethernets:
        eth0:
            dhcp4: true
            optional: true
#        wlan0:
#            dhcp4: false
#            optional: true
#            addresses: [{{ AP_IP_ADDRESS }}/24]
#            nameservers:
#                addresses: [ 127.0.0.1, {{ AP_IP_ADDRESS }}, 1.1.1.1, 8.8.8.8 ]
