node {
  name = "emqx@127.0.0.1"
  cookie = "emqxsecretcookie"
  data_dir = "data"
}

cluster {
  name = emqxcl
  discovery_strategy = manual
}

dashboard {
    default_username = {{EMQX_ADMIN_USERNAME}}
    default_password = {{EMQX_ADMIN_PASSWORD}}
    listeners.http {
        bind = 18083
    }
}

## Authentication
## Allow anonymous authentication by default
allow_anonymous = true
