# influx output
[[outputs.influxdb_v2]]
urls = ["http://influxdb:8086"]
token = "{{DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}}"
organization = "{{DOCKER_INFLUXDB_INIT_ORG}}"
bucket = "{{DOCKER_INFLUXDB_INIT_BUCKET}}"

# mqtt input
[[inputs.mqtt_consumer]]
servers = ["tcp://emqx:1883"]

topics = [
    "sensors/#",
  ]
